/* ===== REINICIO ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #111;
}

/* ===== NAVBAR estilo Roblox ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 40px;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

/* ===== BANNER ROBLOX ===== */
.banner {
    height: 300px;
    background: linear-gradient(#00000099, #00000066), url("https://wallpaperaccess.com/full/3949050.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
}

/* ===== PROYECTOS ===== */
.proyectos {
    padding: 40px;
}

.proyectos h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* ===== TARJETAS estilo Roblox ===== */
.card {
    background: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px #00000020;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    border-radius: 4px;
}

/* ===== FOOTER ===== */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
